header{
    background-color: lavender;
    color: purple;
    text-align: center;
    padding: 15px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 20px;
}

nav a{
    color: plum;
    font-weight: bold;
    font-size: 16px;
}

